  <style>
    h1 { 
      padding-bottom: 10px;
      padding-left: 15px;

    }

  </style>

  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      
        <a href="/"><h2 class="navbar-text">NBA Tweets</a><small> every player, every team</small></h2>
      

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </nav>
  </header>